@import "./style.css";
@import '@clerk/ui/themes/shadcn.css';

html, body, #root {
  height: 100%;
}


@font-face {
  font-family: "Snasm";
  src: url("/fonts/Snasm-W05-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Snasm";
  src: url("/fonts/SnasmW00-Light.woff2") format("woff2"),
       url("/fonts/SnasmW00-Light.woff") format("woff"),
       url("/fonts/SnasmW00-Light.eot") format("embedded-opentype");
  font-weight: 300;
  font-style: normal;
}

.font-snasm {
  font-family: "Snasm", sans-serif;
}

.font-snasm-light {
  font-family: "Snasm", sans-serif;
  font-weight: 300;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}